<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb"/>
  </configSections>

  <connectionStrings>
    <add name="Subscription"
         providerName="System.Data.SqlClient"
         connectionString="data source=.\sqlexpress;initial catalog=channel-publish-subscribe;integrated security=sspi" />
  </connectionStrings>

  <serviceBus>
    <inbox
      workQueueUri="rabbitmq://shuttle:shuttle!@localhost/shuttle-server-work"
      errorQueueUri="rabbitmq://shuttle:shuttle!@localhost/shuttle-error" />
  </serviceBus>
</configuration>